body {
  background: #5aafbd;
  margin: 5px 0;
}

.page {
  /* RGB--> #RRGGBB dengan nilai range 0-F  */
  width: 80%;
  height: auto;
  margin: 0 auto;
  border-top: solid 1px #fff;
  border-left: solid 1px #fff;
  border-right: solid 1px #fff;
}

.content {
  /* RGB--> #RRGGBB dengan nilai range 0-F  */
  float: left;
  background: blue;
  width: 100%;
  border:solid 1px #fff;
}
nav {
  float: left;
  width: 100%;
  background: #a52a2a61;
}

nav a {
  float: left;
  background-color: #000000;
  padding: 8px 10px;
  text-decoration: none;
  border-right: solid 1px #ccc;
  border-left: solid 1px #fff;
  font-family: arial;
  color: #fff;
}

nav a:hover {
  color: #fff;
  background: brown;
}

main {
  clear: both;
  float: left;
  width: 100%;
  background:#abcdef;
  padding: 10px;
  border:solid 1px #fff;
}

footer {
  clear: both;
  float: left;
  width: 100%;
  padding: 5px 10px;
  font-style: italic;
  text-align: center;
  font-size: 11px;
  background: #000;
  color: #fff;
}

.login {
  margin: 100px auto;
  padding: 0 20px 20px;
  background: #fff;
  width: 30%;
  border-radius:15px;
}

.user_profile {
  float: right;
  text-align: right;
  width: 30%;
  padding-top:8px;
  padding-right: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
